main .devices{
    margin-top: 2.3rem;
}

main .devices table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .devices table:hover{
    box-shadow: none;
}

main .devices table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main .devices table tbody tr:last-child td{
    border: none;
}

main .devices a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}